@import "tailwindcss";
@theme {

    --color-cor-principal: #7C9525;
    --color-cor-secundaria: #6E96C3;
    --color-page-primaria: #9ab8da;
    --color-page-secundaria: #9ab8da;
    --color-sub: #0A3A60;
    --color-h2: #4682B4;
    --color-branco: rgba(255, 255, 255, 0.8);
}

h1, h2{
    font-family: "Nunito", sans-serif;
}
p {
    font-family: "Comfortaa", sans-serif;
}
